.post {
    margin: 15px;
}

.post-contenet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 800px;
    max-height: 100%;
}

.post-contenet img {
    max-width: 100%;
    height: auto;
}

.post-contenet img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 720px;
    width: 1000px;
    object-fit: cover;
    padding: 20px;
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 720px;
    width: 1000px;
    object-fit: cover;
    padding: 20px;
}

.post iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 1280px;
    height: 720px;
    padding: 20px;
}

.post-title {
    margin-left: 40px;
    max-width: 100%;
}

.post-title h1 {
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 450px) {
    .post-title h1 {
        color: black;
        font-weight: bold;
        font-size: 25px;
    }
    .post p {
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        max-width: 100%;
        width: 800px;
    }
}

.loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #a03065;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}