.header {
    border-bottom: solid;
    border-color: lightgray;
    padding: 20px 40px 5px 40px;
}

.header span {
    font-size: 24px;
    color: #a03065;
    font-style: italic;
    font-weight: bold;
}

.header img {
    width: 88px;
    height: auto;
}

.nav {
    margin: auto auto auto 40px;
    overflow: hidden;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    width: fit-content;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 16px;
    text-decoration: none;
}

.nav li a:hover {
    color: #a03065;
}

@media screen and (max-width: 600px) {
    .nav li {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .dropbtn {
        display: none;
    }
}

.dropbtn {
    background-color: #a03065;
    color: white;
    width: 100%;
    padding: 16px;
    font-size: 20px;
    border: none;
    text-align: center;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    z-index: 1;
}

.dropdown-content a:hover {
    color: #a03065;
}

.dropdown-content a {
    display: block;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 16px;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #a03065;
}