.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 20px;
}

.cards {
    max-width: 1500px;
    margin: 0 auto 30px;
}

.cards h1 {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 450px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: minmax(min-content, max-content);
        grid-gap: 20px;
    }
}

.loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #a03065;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}