<div class="search-results" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="5" (scrolled)="onScroll()">
    <div class="cards">
        <ng-container *ngIf="posts.length !== 0 ; else noPostsFound">
            <ng-container *ngFor="let post of posts">
                <app-post [post]="post"></app-post>
            </ng-container>
        </ng-container>

        <ng-template #noPostsFound>
            <div class="loader"></div>
        </ng-template>
    </div>

</div>